@import url("expand-button.css");
@import url("message-accordion-panel.css");

.message-accordion {
  margin-top: 2rem;

  .message-accordion-header {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0.5rem;

    .message-accordion-header-text {
      font-size: var(--font-size-large);
      font-weight: bold;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: capitalize;
      white-space: nowrap;
    }
  }



  .message-accordion-panels-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    .message-accordion-panels-list-item {
      margin-bottom: 0.5rem;
    }
  }
}
