.progress-circle-container {
  align-items: center;
  display: grid;
  grid-template-rows: var(--size) 1fr;
  gap: 0.5rem;
  width: var(--size);

  .progress-circle-wrapper {
    display: grid;
    gap: 0.5rem;
    overflow: hidden;
    place-items: center;

    svg.progress-circle {
      grid-area: 1 / 1 / 1 / 1;

      --pi: 3.14159265359;
      --half-size: calc(var(--size) / 2);
      --radius: calc(var(--half-size) - var(--stroke-width) / 2);
      --circumference: calc(var(--radius) * var(--pi) * 2);
      --dash: calc((var(--progress) * var(--circumference)) / 100);

      width: var(--size);
      height: var(--size);

      circle {
        cx: var(--half-size);
        cy: var(--half-size);
        r: var(--radius);
        stroke-width: var(--stroke-width);
        fill: none;
        stroke-linecap: round;

        &.progress-circle-background {
          stroke: #ddd;
        }

        &.progress-circle-foreground {
          transform: rotate(-90deg);
          transform-origin: var(--half-size) var(--half-size);
          stroke-dasharray: var(--dash) calc(var(--circumference) - var(--dash));
          transition: stroke-dasharray 0.3s linear 0s;
          stroke: var(--stroke-color, var(--color-main));
        }
      }
    }

    .progress-circle-value {
      font-size: var(--font-size-large);
      font-weight: bold;
      grid-area: 1 / 1 / 1 / 1;
    }
  }

  .progress-circle-label {
    display: -webkit-box;
    font-size: var(--font-size-small);
    grid-area: 2 / 1 / 2 / 1;
    line-clamp: 3;
    overflow: hidden;
    overflow-wrap: break-word;
    text-align: center;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    width: inherit;
  }
}
