@import url("fonts.css");
@import url("header.css");
@import url("page.css");
@import url("footer.css");

html {
  font-size: 100%;
  height: 100%;
}

body {
  height: 100%;
}

.h5p-caretaker {
  --color-background-dark: #f6f6f6;
  --color-background-light: #ffffff;
  --color-background-separator: #dddddd;
  --color-background-separator-dark: #bbbbbb;
  --color-main: #443e9f;
  --color-main-dark: #352d78;
  --color-main-very-light: #f7f5ff;
  --color-text: #101010;
  --color-text-light: #666666;
  --color-shadow: rgba(0, 0, 0, 0.1);

  --color-error: #9e1010;
  --color-error-light: #ffe9e9;
  --color-info: #443e9f;
  --color-info-light: #f7f5ff;
  --color-caution: #754e00;
  --color-caution-light: #fff9e6;

  --color-status-bad: #9e1010;
  --color-status-neutral: #754e00;
  --color-status-good: #0a7d00;

  --border-radius-default: 4px;

  --font-buttons: "Poppins", sans-serif;
  --font-material-icons: "Material Symbols Outlined", sans-serif;

  --font-size-default: 1rem;
  --font-size-smallest: calc(var(--font-size-default) * 0.5);
  --font-size-smaller: calc(var(--font-size-default) * 0.6);
  --font-size-small: calc(var(--font-size-default) * 0.8);
  --font-size-large: calc(var(--font-size-default) * 1.2);
  --font-size-larger: calc(var(--font-size-default) * 1.5);
  --font-size-largest: calc(var(--font-size-default) * 1.75);

  --icon-material-icons-keyboard-arrow-up: "\e316";
  --icon-material-icons-keyboard-arrow-right: "\e315";
  --icon-material-icons-keyboard-arrow-down: "\e313";
  --icon-material-icons-expand-all: "\e944";
  --icon-material-icons-collapse-all: "\e946";
  --icon-material-icons-close: "\e5cd";
  --icon-material-icons-description: "\e873";
  --icon-material-icons-upload: "\f09b";
  --icon-material-icons-download: "\f090";
  --icon-material-icons-error: "\e000";
  --icon-material-icons-warning: "\e002";
  --icon-material-icons-info: "\e88e";
  --icon-material-icons-accessibility: "\e84e";
  --icon-material-icons-speed: "\e9e4";
  --icon-material-icons-label: "\e892";
  --icon-material-icons-license: "\eb04";
  --icon-material-icons-cycle: "\f854";
  --icon-material-icons-monitoring: "\f190";

  color: var(--color-text);
  container-name: body;
  container-type: size;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin: 0;

  .main-color {
    color: var(--color-main);
  }
}
