@import url("fonts.css");
@import url("header.css");
@import url("page.css");
@import url("footer.css");

html {
  font-size: 100%;
  height: 100%;
}

body {
  height: 100%;
}

.h5p-caretaker {
  --color-background-dark: #f6f6f6;
  --color-background-light: #ffffff;
  --color-background-separator: #dddddd;
  --color-background-separator-dark: #bbbbbb;
  --color-main: #443e9f;
  --color-main-dark: #352d78;
  --color-main-very-light: #f7f5ff;
  --color-main-ultra-light: #fcfaff;
  --color-text: #101010;
  --color-text-light: #666666;
  --color-shadow: rgba(0, 0, 0, 0.1);

  --color-error: #9e1010;
  --color-error-light: #ffe9e9;
  --color-info: #443e9f;
  --color-info-light: #f7f5ff;
  --color-caution: #754e00;
  --color-caution-light: #fff9e6;

  --color-status-bad: #9e1010;
  --color-status-neutral: #754e00;
  --color-status-good: #0a7d00;

  --border-radius-default: 4px;

  --font-buttons: "Poppins", sans-serif;
  --font-material-icons: "Material Symbols Outlined", sans-serif;

  --font-size-default: 1rem;
  --font-size-smallest: calc(var(--font-size-default) * 0.5);
  --font-size-smaller: calc(var(--font-size-default) * 0.6);
  --font-size-small: calc(var(--font-size-default) * 0.8);
  --font-size-large: calc(var(--font-size-default) * 1.2);
  --font-size-larger: calc(var(--font-size-default) * 1.5);
  --font-size-largest: calc(var(--font-size-default) * 1.75);

  --icon-material-icons-keyboard-arrow-up: "\e316";
  --icon-material-icons-keyboard-arrow-right: "\e315";
  --icon-material-icons-keyboard-arrow-down: "\e313";
  --icon-material-icons-keyboard-arrow-left: "\e314";
  --icon-material-icons-expand-all: "\e944";
  --icon-material-icons-collapse-all: "\e946";
  --icon-material-icons-close: "\e5cd";
  --icon-material-icons-description: "\e873";
  --icon-material-icons-upload: "\f09b";
  --icon-material-icons-download: "\f090";
  --icon-material-icons-error: "\e000";
  --icon-material-icons-warning: "\e002";
  --icon-material-icons-info: "\e88e";
  --icon-material-icons-accessibility: "\e84e";
  --icon-material-icons-speed: "\e9e4";
  --icon-material-icons-label: "\e892";
  --icon-material-icons-license: "\eb04";
  --icon-material-icons-123: "\eb8d";
  --icon-material-icons-cycle: "\f854";
  --icon-material-icons-monitoring: "\f190";
  --icon-material-icons-image: "\e3f4";
  --icon-material-icons-signature: "\f74c";
  --icon-material-icons-storage: "\e1db";
  --icon-material-icons-gavel: "\e90e";
  --icon-material-icons-resume: "\f7d0";
  --icon-material-icons-import-contacts: "\e0e0";
  --icon-material-icons-api: "\f1b7";
  --icon-material-icons-comment: "\e0b9";
  --icon-material-icons-counter-1: "\f784";
  --icon-material-icons-groups: "\f233";
  --icon-material-icons-thumb-down: "\e8db";
  --icon-material-icons-edit: "\e3c9";
  --icon-material-icons-title: "\e264";
  --icon-material-icons-link: "\e157";
  --icon-material-icons-iframe: "\f71b";
  --icon-material-icons-pending: "\ef64";
  --icon-material-icons-high-quality: "\e024";

  color: var(--color-text);
  container-name: body;
  container-type: size;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin: 0;
  overflow: auto; /* Firefox doesn't add scrollbar without explicitly setting this */

  .main-color {
    color: var(--color-main);
  }

  .branding {
    --branding-size: 0.75rem;

    font-size: var(--branding-size);
    font-style: italic;
    padding: 0.5rem; text-align: end;

    span.powered-by::before {
      color: var(--color-text);
      content : "powered by";
      margin-right: 0.25rem;
    }

    svg.ndla-logo {
      background-image: url("data:image/svg+xml,%3Csvg class='ndla-logo' xmlns='http://www.w3.org/2000/svg' aria-hidden='true' width='48' height='12' viewBox='0 0 1104 280'%3E%3Cg fill='%23443e9f'%3E%3Crect width='52' height='280'/%3E%3Cpolygon points='97.15 39.5 52 66 191 279.77 191.12 280 260 280 260 0 207.73 0 207.73 209.54 97.15 39.5'/%3E%3Cpath d='M997.7,0h-51.51l-105.73,278.52-.46,1.48h52.87l22.45-64.2h112.33l22.45,64.2h53.9L997.7,0ZM1012.95,172.44h-82.25l41.01-105.17,41.24,105.17Z'/%3E%3Cpolygon points='681.18 0 629 0 629 280 797 280 797 231.99 681.18 231.99 681.18 0'/%3E%3Cpath d='M432.36,0h-100.36v280h102.98c19.9,0,38.55-3.41,55.61-10.13,16.72-6.72,31.27-16.39,43.32-28.68,12.05-12.18,21.49-27.09,28.09-44.16,6.71-17.41,10.01-36.31,10.01-56.46,0-40.86-13.42-75.92-38.78-101.64C507.87,13.43,472.96,0,432.36,0ZM518.56,140.57c0,28.11-8.07,51.45-23.54,67.61-15.35,16.16-37.64,24.7-64.48,24.7h-47.6V47.12h44.87c27.86,0,50.83,8.65,66.52,24.81,15.92,16.39,24.22,40.07,24.22,68.63Z'/%3E%3C/g%3E%3C/svg%3E");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: calc(var(--branding-size) * 4);
      height: var(--branding-size);
    }
  }
}
