@import url("@components/dropzone/dropzone.css");
@import url("@components/message-sets/message-sets.css");
@import url("@components/results/results.css");

.page {
  margin-inline: auto;
  max-width: 50%;

  h2.title {
    font-size: var(--font-size-larger);
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  p {
    line-height: 1.5rem;
  }
}

@container body (width <= 768px) {
  .page {
    max-width: 80%;
  }
}
