@import url("@components/dropzone/dropzone.css");
@import url("@components/message-sets/message-sets.css");
@import url("@components/results/results.css");

.page {

  .centered-row {
    margin-inline: auto;
    max-width: 50%;
  }

  .block {
    padding: 1rem;

    &:not(:has(.block-visible)) {
      display: none;
    }
  }

  .background-light {
    background-color: var(--color-background-light);
  }

  .background-dark {
    background-color: var(--color-background-dark);
  }

  h2.title {
    font-size: var(--font-size-larger);
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  p {
    line-height: 1.5rem;
  }
}

@container body (width <= 768px) {
  .page .centered-row {
    max-width: 80%;
  }
}
