@import url("fonts.css");
@import url("header.css");
@import url("page.css");

html{
  font-size: 100%;
}

.h5p-caretaker {
  --color-background-dark: #f6f6f6;
  --color-background-light: #ffffff;
  --color-background-separator: #dddddd;
  --color-main: #443e9f;
  --color-main-dark: #352d78;
  --color-main-very-light: #f7f5ff;
  --color-text: #101010;
  --color-text-light: #666666;
  --color-shadow: rgba(0, 0, 0, 0.1);

  --color-error: #9e1010;
  --color-error-light: #ffe9e9;
  --color-info: #443e9f;
  --color-info-light: #f7f5ff;
  --color-warning: #754e00;
  --color-warning-light: #fff9e6;

  --border-radius-default: 4px;

  --font-size-default: 1rem;
  --font-size-small: calc(var(--font-size-default) * 0.8);
  --font-size-large: calc(var(--font-size-default) * 1.2);
  --font-size-larger: calc(var(--font-size-default) * 1.5);

  background-color: var(--color-background-dark);
  color: var(--color-text);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin: 0;

  .main-color {
    color: var(--color-main);
  }
}
