@import url("dropzone.css");

.page {
  margin-inline: auto;
  height: 200px;
  max-width: 50%;

  h2.title {
    font-size: var(--font-size-larger);
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  p {
    line-height: 1.5rem;
  }
}
